<!doctype html>
<html>
<head>
    <title>Movies</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
    <div class="page-header text-center">
        <h1><span class="fa"></span> Movie Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/movies" class="btn btn-default btn-sm">Movies</a>
        <a href="/music" class="btn btn-default btn-sm">Music</a>
    </div>


<div class="container">

    <h2>Filmovi</h2>
    <% for(var i = 0; i < movieList.length; i++) { %>
        <p class="well">
            <span>
            <img src="<%=movieList[i].image%>" width="auto" height="200" alt="">
        </span>
        <span>
            <strong style="font-size: xx-large;"> <%= movieList[i].title %> </strong> <br>
            <strong>User Vote</strong>:</strong> <%= movieList[i].user_vote %> </strong> <br>
            <strong>Description</strong>: <%= movieList[i].overview %> <br>
            <strong>Release date</strong>: <%= movieList[i].relaseDate %> <br>
        </span>
        </p>
        <br>
  <%  } %>

    
    
</div>
</body>
</html>